.lab{
    background-color: #11105e;
    background-size: cover;
}

h2{
    display: flex;
    height: 10vh;
    color: #000000;
    justify-content: center;
    font-size: 3rem;
}
.form-group{
    width: 80%;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    max-width: 900px;
    border-radius: 5px;
  background: rgba(113, 148, 207, 0.5);
  padding: 20px;
}
.form-radio{
    width: 80%;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 0 auto;
    display: line;
    max-width: 900px;
}

.form{
    width: 60%;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    max-width: 500px;
}




body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
p{
    font-size: 30px;
}

h2{
    text-align: center;
    font-style: bold;
    color:#0f688b
}


table {
    border-collapse: collapse;
    width: 70%;
}
  
table ,tr,td{
    border: 1px solid #ddd;
    text-align: left;
}
  
td{
    padding:15px;
}
  
tr:nth-child(even)
{
   background-color: #6fc2d0;
}
   
tr:nth-child(odd)
{
   background-color: #acdbdf;
}

th:nth-child(odd){
    background-color:#f2f2f2;
}

th:nth-child(even){
    background-color: #f2f2f2;
}




th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFD700;
    color: rgb(226, 70, 43);
}

.AddLab{
    background-image: url('https://cdn.openpr.com/U/4/U415124366_g.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
}

.viewcalCost{
    background-image:url('https://t3.ftcdn.net/jpg/03/15/66/96/360_F_315669632_zpQL6tY63tJEInUk64OBSq05fglGaFVP.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
}




.LabView{
    background-image: url('https://t3.ftcdn.net/jpg/03/15/66/96/360_F_315669632_zpQL6tY63tJEInUk64OBSq05fglGaFVP.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
    
}

.calCost{
    background-image: url('https://i.pinimg.com/originals/90/fb/ba/90fbba14215fbc7c32810b0bf4e74023.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
    
}

.EditLab{
    background-image: url('https://cdn.openpr.com/U/4/U415124366_g.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0px;
}

#btn1{
    background-color: rgb(17, 35, 204);
    border: none;
    color: rgb(223, 223, 233);
    height: 40px;
    width: 500px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   
}

#btn2{
    background-color:red;
    border: none;
    color: rgb(223, 223, 233);
   
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    width: 900px;
}
#btn7{
    background-color:blue;
    border: none;
    color: rgb(223, 223, 233);
    height: 40px;
    width: 500px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btn3{
    background-color:blue;
    border: none;
    color: rgb(223, 223, 233);
   
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150%;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    max-width: 900px;
}

#b9{
    color: #10316b; 

}
#buttonlab
    {
    color: #d72323;
}

.addlabTitle{
    color: rgb(15, 18, 175);
}

.viewlabTital{
    color: rgb(15, 18, 175);
    font-style: oblique;
}
