.manageStaff{
    background-color: #cc99ff;
    background-size: cover;
}

h3{
    display: flex;
    height: 10vh;
    justify-content: center;
    font-size: 3rem;
}
  
p{
    font-size: 25px;
}



  