/*body{
    padding: 0;
    background: url(../../images/nnn.jpg);
    min-height: 700px;
    background-size: cover;
    font-family: sans-serif;
}*/
h3{
    color:#fcfdf9;
    display: flex;
    height: 15vh;
    justify-content: center;
    font-size: 3rem;
}
.managePharmacy
{
    position:absolute;
    top:12%;
    left:8%;
   
    width:1100px;
    height:700px;
    padding:80px 40px;
    box-sizing:border-box;
    background:rgba(0,0,0,.5);
}
p{
    font-size: 25px;
}

